body{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gridContainer{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: auto;
}

#gridSizeBtn{
    padding: 10px;
    margin-right: 25px;
}
